@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:wght@300;400;700");

$mainBg: hsl(206, 78%, 95%);
$highlight: hsl(0, 0%, 100%);
$shaddow: hsl(206, 40%, 80%);
$fontColorMain: hsl(206, 42%, 43%);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $mainBg;
}

button {
    outline: none;
}

.timers {
    width: 400px;
    background: $mainBg;
    margin: auto;
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: $fontColorMain;
    height: 600px;

    .input {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.timer_log {
    height: 84px;
    background: $mainBg;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    flex: 1 auto;
    padding: 0 12px;
    position: relative;

    & .input {
        margin-right: 12px;
    }
}

.timer_log__desc {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.timer_log__project {
    font-size: .9rem;
    color: $fontColorMain;
}

.timersList__wrapper {
    padding: 12px;
    overflow: scroll;
    height: calc(100% - 100px);

    // max-height: 600px;
    position: relative;
    box-shadow: inset 8px 8px 16px $shaddow, inset -8px -8px 16px $highlight;
    border-radius: 12px;
    padding: 12px;

    // &:after {
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     box-shadow: 0 0 2px grey;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    // }
}

.timers_list {
    // height: 500px;
}

.timer__block {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
}

.timer__block_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

.timer_log__tick {
    margin-right: 12px;
}

.timer_desc {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.timer_desc__title {
    font-size: .9rem;
    color: #C9C7C7;
}

.timer__block_body {
    position: relative;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;

    & > div:not(:first-child) {
        display: flex;
        align-items: center;
        text-align: left;
    }
}

.input {
    border-radius: 28px;
    border: 0;
    height: 28px;
    background: $mainBg;
    width: 100%;
    color: $fontColorMain;
    box-shadow: inset 4px 4px 8px 0px $shaddow, inset -4px -4px 8px 0px $highlight;

    // flex: 1 1;
    padding: 0 12px;
}

.btn {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &__start {
        background-color: #20C306;
    }

    &__stop {
        background-color: #C30606;
    }

    &__delete {
        background-color: #C30606;
    }
}

.btn-link {
    border: 0;
    background: transparent;
    padding: 0;
    color: #C9C7C7;
}

.TimerDetails_wrapper {
    // background: white;

    // padding: 12px;
    border-radius: 6px;

    // box-shadow: 0 0 4px 0px rgba(0, 0, 0, .25);
}

.TimerDetails__body {
    display: flex;
    flex-flow: column;
    min-width: 250px;

    & > div {
        margin-bottom: 8px;
    }
}

.TimerDetails__body_types {
    display: flex;
    justify-content: space-between;
}

.project_list li {
    height: 20px;
    margin-bottom: 5px;
}
